<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="margin: 0;background: whitesmoke;">


    <div style=" font-family: Arial, Helvetica, sans-serif; padding-bottom: 1rem; padding-top: 1rem;">
        <div
            style="width: 90%; max-width: 32rem;margin: 0 auto;text-align: center; padding: 2rem 1rem; background: white; border-top: 5px solid #f35327;">
            <h1 style="font-size: 1rem; text-transform: capitalize;">Hello there, Curious Tester!,</h1>
            <div style="font-weight: semibold;text-align: start;">You've just stepped into a world where emails meet
                imagination. This isn't just any email; it's a little spark of wonder, created to test the depths of
                this route's potential. If you’ve made it this far, congratulations—you’re officially part of an elite
                group of email explorers.
            </div>

            <div style="font-weight: semibold;text-align: start;"> So, what do you think? Did the email shine as bright
                as it should? If not, our lab of improvements is
                always open.</div>
            <h2 style="font-size: 0.9rem;">Request Info</h2>
            <div style="background-color: whitesmoke;padding: 0.5rem;">
                <div style="display: flex; flex-direction: row; justify-content: space-between;padding: 0.5rem;">
                    <div style="text-align: left;">Full Name</div>
                    <div style="width: fit-content; margin-left: auto; text-transform: capitalize;">Curious Tester</div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between;padding: 0.5rem;">
                    <div style="text-align: left;">Email</div>
                    <div style="width: fit-content; margin-left: auto;">{{email}}</div>
                </div>
            </div>
            <div style="font-weight: bold;text-align: start; margin-top: 1rem;">Thanks for being part of the magic. 🌟
            </div>
            <div style="font-weight: bold;text-align: start; margin-top: 0.4rem;">The Educonnect Team.</div>



            <div style="padding: 1rem 0; border-bottom: 1px solid lightgrey;margin-bottom: 1rem;">{{date}}</div>

        </div>

    </div>
</body>

</html>